/* destinos */

.destinos {
    @include anclas;
    padding: 5px;
    margin-bottom: 2px;

    h2 {
        font-size: 2rem;
        color: $color-titulos;
    }

    p {
        font-family: 'Dancing Script', cursive;
        color: $color-parrafos;
        text-align: center;
        text-transform: lowercase;
        font-size: 2rem;
    }
}

/* BLOGS */

.blogs {

    @include anclas;
    padding: 5px;
    margin-bottom: 10px;
}

.blogs h7 {
    font-size: 2rem;
    color: $color-titulos;

}

.blogs p {
    font-family: 'Dancing Script', cursive;
    color: $color-parrafos;
    text-align: center;
    text-transform: lowercase;
    font-size: 2rem;
}

.titulosblogs {
    text-transform: uppercase;
    font-weight: bold;
}

.cardcomentario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
}

.imgCard {
    border-top: 10px solid #fafafa;
}